@import "./built-rudy-gallery.css";


/* Vars */
:root {
	--gutter: 18;
	--borderWidth: 2;
	--paddingWidth: 0;
}


/* Resets */
* { box-sizing: border-box; }


body {
	margin: 0;
	min-height: 100vw;
}


/* Typography */
body {
	font-family: 'Roboto Mono', sans-serif;
	color: #222;
}


/*  */
main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 12px;
}
header { padding-top: 20px; }
h1 { text-align: center; }


/* Selected card */
.selected-of-rudy-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, 0.95);
	cursor: pointer;
	transition: opacity ease-in-out .3s, z-index 0.3s cubic-bezier(0,1,1,0);
	opacity: 0;
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

.selected-of-rudy-cards--active {
	z-index: 1;
	opacity: 1;
}

.selected-of-rudy-cards img {
	position: fixed;
	max-height: 0;
	opacity: 0;
	transition: opacity ease-in-out 0.3s, max-width ease-in-out 0.3s, max-height ease-in-out 0.3s;
}
.selected-of-rudy-cards--active img {
	position: static;
	max-width: 90vw;
	max-height: 90vh;
	border: 4px solid #222;
	opacity: 1;
}

/* Cards */
.rudy-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position:  relative;
}

.rudy-cards__card {
	box-sizing: content-box;
	border: calc( var(--borderWidth) * 1px ) solid #222;
	background: #222;
	margin-top: calc( var(--gutter) * 1px );
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: calc( var(--paddingWidth) * 1px );
}
.rudy-cards__card:hover { cursor: pointer; }
.rudy-cards__card:focus { cursor: pointer; }
.rudy-cards__card:focus img {
	transform: scale(1.1);
	filter: sepia(100%);
}
.rudy-cards__card:hover img {
	transform: scale(1.1);
	filter: sepia(100%);
}
.rudy-cards__card h3 {
	text-align: center;
	margin: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	color: #fff;
}
.rudy-cards__card .img-wrapper { overflow: hidden; }
.rudy-cards__card img {
	display: block;
	width: 100%;
	transition: transform ease-out 0.2s, filter ease-out 0.2s;
}

