:root {
	--rudyCard1-bp340: 1.3333333333333333/2.083333333333333;
	--rudyCard1-bp600: 1.3333333333333333/3.416666666666666;
	--rudyCard1-bp980: 1.3333333333333333/4.166666666666666;
	--rudyCard2-bp340: 0.75/2.083333333333333;
	--rudyCard2-bp600: 0.75/3.416666666666666;
	--rudyCard2-bp980: 0.75/4.166666666666666;
	--rudyCard3-bp340: 1.3333333333333333/1.3333333333333333;
	--rudyCard3-bp600: 1.3333333333333333/3.416666666666666;
	--rudyCard3-bp980: 1.3333333333333333/4.166666666666666;
	--rudyCard4-bp340: 0.75/1.5;
	--rudyCard4-bp600: 0.75/1.5;
	--rudyCard4-bp980: 0.75/4.166666666666666;
	--rudyCard5-bp340: 0.75/1.5;
	--rudyCard5-bp600: 0.75/1.5;
	--rudyCard5-bp980: 0.75/2.833333333333333;
	--rudyCard6-bp340: 1.3333333333333333/1.3333333333333333;
	--rudyCard6-bp600: 1.3333333333333333/3.416666666666666;
	--rudyCard6-bp980: 1.3333333333333333/2.833333333333333;
	--rudyCard7-bp340: 0.75/2.083333333333333;
	--rudyCard7-bp600: 0.75/3.416666666666666;
	--rudyCard7-bp980: 0.75/2.833333333333333;
	--rudyCard8-bp340: 1.3333333333333333/2.083333333333333;
	--rudyCard8-bp600: 1.3333333333333333/3.416666666666666;
	--rudyCard8-bp980: 1.3333333333333333/2.083333333333333;
	--rudyCard9-bp340: 0.75/0.75;
	--rudyCard9-bp600: 0.75/1.5;
	--rudyCard9-bp980: 0.75/2.083333333333333;
	--rudyCard10-bp340: 0.75/2.083333333333333;
	--rudyCard10-bp600: 0.75/1.5;
	--rudyCard10-bp980: 0.75/3.416666666666666;
	--rudyCard11-bp340: 1.3333333333333333/2.083333333333333;
	--rudyCard11-bp600: 1.3333333333333333/3.4166666666666665;
	--rudyCard11-bp980: 1.3333333333333333/3.416666666666666;
	--rudyCard12-bp340: 1.3333333333333333/1.3333333333333333;
	--rudyCard12-bp600: 1.3333333333333333/3.4166666666666665;
	--rudyCard12-bp980: 1.3333333333333333/3.416666666666666;
	--rudyCard13-bp340: 0.75/1.5;
	--rudyCard13-bp600: 0.75/3.4166666666666665;
	--rudyCard13-bp980: 0.75/4.166666666666666;
	--rudyCard14-bp340: 0.75/1.5;
	--rudyCard14-bp600: 0.75/2.083333333333333;
	--rudyCard14-bp980: 0.75/4.166666666666666;
	--rudyCard15-bp340: 1.3333333333333333/1.3333333333333333;
	--rudyCard15-bp600: 1.3333333333333333/2.083333333333333;
	--rudyCard15-bp980: 1.3333333333333333/4.166666666666666;
	--rudyCard16-bp340: 1.3333333333333333/2.6666666666666665;
	--rudyCard16-bp600: 1.3333333333333333/3.4166666666666665;
	--rudyCard16-bp980: 1.3333333333333333/4.166666666666666;
	--rudyCard17-bp340: 1.3333333333333333/2.6666666666666665;
	--rudyCard17-bp600: 1.3333333333333333/3.4166666666666665;
	--rudyCard17-bp980: 1.3333333333333333/2.833333333333333;
	--rudyCard18-bp340: 0.75/0.75;
	--rudyCard18-bp600: 0.75/3.4166666666666665;
	--rudyCard18-bp980: 0.75/2.833333333333333;
	--rudyCard19-bp340: 0.75/1.5;
	--rudyCard19-bp600: 0.75/1.5;
	--rudyCard19-bp980: 0.75/2.833333333333333;
	--rudyCard20-bp340: 0.75/1.5;
	--rudyCard20-bp600: 0.75/1.5;
	--rudyCard20-bp980: 0.75/1.3125;
	--rudyCard21-bp340: 0.5625/0.5625;
	--rudyCard21-bp600: 0.5625/1.875;
	--rudyCard21-bp980: 0.5625/1.3125;
	--rudyCard22-bp340: 0.5625/1.3125;
	--rudyCard22-bp600: 0.5625/1.875;
	--rudyCard22-bp980: 0.5625/2.0625;
	--rudyCard23-bp340: 0.75/1.3125;
	--rudyCard23-bp600: 0.75/1.875;
	--rudyCard23-bp980: 0.75/2.0625;
	--rudyCard24-bp340: 0.75/0.75;
	--rudyCard24-bp600: 0.75/2.083333333333333;
	--rudyCard24-bp980: 0.75/2.0625;
	--rudyCard25-bp340: 1.3333333333333333/2.6666666666666665;
	--rudyCard25-bp600: 1.3333333333333333/2.083333333333333;
	--rudyCard25-bp980: 1.3333333333333333/4.75;
	--rudyCard26-bp340: 1.3333333333333333/2.6666666666666665;
	--rudyCard26-bp600: 1.3333333333333333/3.4166666666666665;
	--rudyCard26-bp980: 1.3333333333333333/4.75;
	--rudyCard27-bp340: 1.3333333333333333/1.3333333333333333;
	--rudyCard27-bp600: 1.3333333333333333/3.4166666666666665;
	--rudyCard27-bp980: 1.3333333333333333/4.75;
	--rudyCard28-bp340: 0.75/1.3125;
	--rudyCard28-bp600: 0.75/3.4166666666666665;
	--rudyCard28-bp980: 0.75/4.75;
	--rudyCard29-bp340: 0.5625/1.3125;
	--rudyCard29-bp600: 0.5625/1.3125;
	--rudyCard29-bp980: 0.5625/2.645833333333333;
	--rudyCard30-bp340: 0.75/0.75;
	--rudyCard30-bp600: 0.75/1.3125;
	--rudyCard30-bp980: 0.75/2.645833333333333;
	--rudyCard31-bp340: 1.3333333333333333/2.083333333333333;
	--rudyCard31-bp600: 1.3333333333333333/2.833333333333333;
	--rudyCard31-bp980: 1.3333333333333333/2.645833333333333;
	--rudyCard32-bp340: 0.75/2.083333333333333;
	--rudyCard32-bp600: 0.75/2.833333333333333;
	--rudyCard32-bp980: 0.75/1.5;
	--rudyCard33-bp340: 0.75/0.75;
	--rudyCard33-bp600: 0.75/2.833333333333333;
	--rudyCard33-bp980: 0.75/1.5;
	--rudyCard34-bp340: 1.3688212927756653/3.1465990705534432;
	--rudyCard34-bp600: 1.3688212927756653/3.1465990705534432;
	--rudyCard34-bp980: 1.3688212927756653/3.8965990705534432;
	--rudyCard35-bp340: 1.7777777777777777/3.1465990705534432;
	--rudyCard35-bp600: 1.7777777777777777/3.1465990705534432;
	--rudyCard35-bp980: 1.7777777777777777/3.8965990705534432;
	--rudyCard36-bp340: 0.75/0.75;
	--rudyCard36-bp600: 0.75/2.25;
	--rudyCard36-bp980: 0.75/3.8965990705534432;
	--rudyCard37-bp340: 0.75/1.5;
	--rudyCard37-bp600: 0.75/2.25;
	--rudyCard37-bp980: 0.75/1.5;
	--rudyCard38-bp340: 0.75/1.5;
	--rudyCard38-bp600: 0.75/2.25;
	--rudyCard38-bp980: 0.75/1.5;
}

@media screen and (min-width: 340px) {
	.rudy-cards__card:nth-of-type(1) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard1-bp340) ); }
	.rudy-cards__card:nth-of-type(2) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard2-bp340) ); }
	.rudy-cards__card:nth-of-type(3) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard3-bp340) ); }
	.rudy-cards__card:nth-of-type(4) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard4-bp340) ); }
	.rudy-cards__card:nth-of-type(5) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard5-bp340) ); }
	.rudy-cards__card:nth-of-type(6) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard6-bp340) ); }
	.rudy-cards__card:nth-of-type(7) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard7-bp340) ); }
	.rudy-cards__card:nth-of-type(8) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard8-bp340) ); }
	.rudy-cards__card:nth-of-type(9) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard9-bp340) ); }
	.rudy-cards__card:nth-of-type(10) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard10-bp340) ); }
	.rudy-cards__card:nth-of-type(11) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard11-bp340) ); }
	.rudy-cards__card:nth-of-type(12) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard12-bp340) ); }
	.rudy-cards__card:nth-of-type(13) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard13-bp340) ); }
	.rudy-cards__card:nth-of-type(14) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard14-bp340) ); }
	.rudy-cards__card:nth-of-type(15) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard15-bp340) ); }
	.rudy-cards__card:nth-of-type(16) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard16-bp340) ); }
	.rudy-cards__card:nth-of-type(17) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard17-bp340) ); }
	.rudy-cards__card:nth-of-type(18) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard18-bp340) ); }
	.rudy-cards__card:nth-of-type(19) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard19-bp340) ); }
	.rudy-cards__card:nth-of-type(20) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard20-bp340) ); }
	.rudy-cards__card:nth-of-type(21) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard21-bp340) ); }
	.rudy-cards__card:nth-of-type(22) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard22-bp340) ); }
	.rudy-cards__card:nth-of-type(23) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard23-bp340) ); }
	.rudy-cards__card:nth-of-type(24) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard24-bp340) ); }
	.rudy-cards__card:nth-of-type(25) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard25-bp340) ); }
	.rudy-cards__card:nth-of-type(26) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard26-bp340) ); }
	.rudy-cards__card:nth-of-type(27) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard27-bp340) ); }
	.rudy-cards__card:nth-of-type(28) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard28-bp340) ); }
	.rudy-cards__card:nth-of-type(29) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard29-bp340) ); }
	.rudy-cards__card:nth-of-type(30) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard30-bp340) ); }
	.rudy-cards__card:nth-of-type(31) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard31-bp340) ); }
	.rudy-cards__card:nth-of-type(32) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard32-bp340) ); }
	.rudy-cards__card:nth-of-type(33) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard33-bp340) ); }
	.rudy-cards__card:nth-of-type(34) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard34-bp340) ); }
	.rudy-cards__card:nth-of-type(35) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard35-bp340) ); }
	.rudy-cards__card:nth-of-type(36) { width: calc( (100% - (0 * var(--gutter)*1px) - (2 * var(--borderWidth)*1px) - (2 * var(--paddingWidth)*1px)) * var(--rudyCard36-bp340) ); }
	.rudy-cards__card:nth-of-type(37) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard37-bp340) ); }
	.rudy-cards__card:nth-of-type(38) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard38-bp340) ); }
}
@media screen and (min-width: 600px) {
	.rudy-cards__card:nth-of-type(1) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard1-bp600) ); }
	.rudy-cards__card:nth-of-type(2) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard2-bp600) ); }
	.rudy-cards__card:nth-of-type(3) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard3-bp600) ); }
	.rudy-cards__card:nth-of-type(4) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard4-bp600) ); }
	.rudy-cards__card:nth-of-type(5) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard5-bp600) ); }
	.rudy-cards__card:nth-of-type(6) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard6-bp600) ); }
	.rudy-cards__card:nth-of-type(7) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard7-bp600) ); }
	.rudy-cards__card:nth-of-type(8) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard8-bp600) ); }
	.rudy-cards__card:nth-of-type(9) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard9-bp600) ); }
	.rudy-cards__card:nth-of-type(10) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard10-bp600) ); }
	.rudy-cards__card:nth-of-type(11) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard11-bp600) ); }
	.rudy-cards__card:nth-of-type(12) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard12-bp600) ); }
	.rudy-cards__card:nth-of-type(13) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard13-bp600) ); }
	.rudy-cards__card:nth-of-type(14) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard14-bp600) ); }
	.rudy-cards__card:nth-of-type(15) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard15-bp600) ); }
	.rudy-cards__card:nth-of-type(16) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard16-bp600) ); }
	.rudy-cards__card:nth-of-type(17) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard17-bp600) ); }
	.rudy-cards__card:nth-of-type(18) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard18-bp600) ); }
	.rudy-cards__card:nth-of-type(19) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard19-bp600) ); }
	.rudy-cards__card:nth-of-type(20) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard20-bp600) ); }
	.rudy-cards__card:nth-of-type(21) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard21-bp600) ); }
	.rudy-cards__card:nth-of-type(22) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard22-bp600) ); }
	.rudy-cards__card:nth-of-type(23) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard23-bp600) ); }
	.rudy-cards__card:nth-of-type(24) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard24-bp600) ); }
	.rudy-cards__card:nth-of-type(25) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard25-bp600) ); }
	.rudy-cards__card:nth-of-type(26) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard26-bp600) ); }
	.rudy-cards__card:nth-of-type(27) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard27-bp600) ); }
	.rudy-cards__card:nth-of-type(28) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard28-bp600) ); }
	.rudy-cards__card:nth-of-type(29) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard29-bp600) ); }
	.rudy-cards__card:nth-of-type(30) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard30-bp600) ); }
	.rudy-cards__card:nth-of-type(31) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard31-bp600) ); }
	.rudy-cards__card:nth-of-type(32) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard32-bp600) ); }
	.rudy-cards__card:nth-of-type(33) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard33-bp600) ); }
	.rudy-cards__card:nth-of-type(34) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard34-bp600) ); }
	.rudy-cards__card:nth-of-type(35) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard35-bp600) ); }
	.rudy-cards__card:nth-of-type(36) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard36-bp600) ); }
	.rudy-cards__card:nth-of-type(37) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard37-bp600) ); }
	.rudy-cards__card:nth-of-type(38) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard38-bp600) ); }
}
@media screen and (min-width: 980px) {
	.rudy-cards__card:nth-of-type(1) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard1-bp980) ); }
	.rudy-cards__card:nth-of-type(2) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard2-bp980) ); }
	.rudy-cards__card:nth-of-type(3) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard3-bp980) ); }
	.rudy-cards__card:nth-of-type(4) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard4-bp980) ); }
	.rudy-cards__card:nth-of-type(5) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard5-bp980) ); }
	.rudy-cards__card:nth-of-type(6) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard6-bp980) ); }
	.rudy-cards__card:nth-of-type(7) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard7-bp980) ); }
	.rudy-cards__card:nth-of-type(8) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard8-bp980) ); }
	.rudy-cards__card:nth-of-type(9) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard9-bp980) ); }
	.rudy-cards__card:nth-of-type(10) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard10-bp980) ); }
	.rudy-cards__card:nth-of-type(11) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard11-bp980) ); }
	.rudy-cards__card:nth-of-type(12) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard12-bp980) ); }
	.rudy-cards__card:nth-of-type(13) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard13-bp980) ); }
	.rudy-cards__card:nth-of-type(14) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard14-bp980) ); }
	.rudy-cards__card:nth-of-type(15) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard15-bp980) ); }
	.rudy-cards__card:nth-of-type(16) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard16-bp980) ); }
	.rudy-cards__card:nth-of-type(17) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard17-bp980) ); }
	.rudy-cards__card:nth-of-type(18) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard18-bp980) ); }
	.rudy-cards__card:nth-of-type(19) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard19-bp980) ); }
	.rudy-cards__card:nth-of-type(20) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard20-bp980) ); }
	.rudy-cards__card:nth-of-type(21) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard21-bp980) ); }
	.rudy-cards__card:nth-of-type(22) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard22-bp980) ); }
	.rudy-cards__card:nth-of-type(23) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard23-bp980) ); }
	.rudy-cards__card:nth-of-type(24) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard24-bp980) ); }
	.rudy-cards__card:nth-of-type(25) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard25-bp980) ); }
	.rudy-cards__card:nth-of-type(26) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard26-bp980) ); }
	.rudy-cards__card:nth-of-type(27) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard27-bp980) ); }
	.rudy-cards__card:nth-of-type(28) { width: calc( (100% - (3 * var(--gutter)*1px) - (8 * var(--borderWidth)*1px) - (8 * var(--paddingWidth)*1px)) * var(--rudyCard28-bp980) ); }
	.rudy-cards__card:nth-of-type(29) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard29-bp980) ); }
	.rudy-cards__card:nth-of-type(30) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard30-bp980) ); }
	.rudy-cards__card:nth-of-type(31) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard31-bp980) ); }
	.rudy-cards__card:nth-of-type(32) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard32-bp980) ); }
	.rudy-cards__card:nth-of-type(33) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard33-bp980) ); }
	.rudy-cards__card:nth-of-type(34) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard34-bp980) ); }
	.rudy-cards__card:nth-of-type(35) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard35-bp980) ); }
	.rudy-cards__card:nth-of-type(36) { width: calc( (100% - (2 * var(--gutter)*1px) - (6 * var(--borderWidth)*1px) - (6 * var(--paddingWidth)*1px)) * var(--rudyCard36-bp980) ); }
	.rudy-cards__card:nth-of-type(37) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard37-bp980) ); }
	.rudy-cards__card:nth-of-type(38) { width: calc( (100% - (1 * var(--gutter)*1px) - (4 * var(--borderWidth)*1px) - (4 * var(--paddingWidth)*1px)) * var(--rudyCard38-bp980) ); }
}
