:root {
	--rudyCard1-bp481: 0.75/1.5;
	--rudyCard1-bp781: 0.75/4.166666666666666;
	--rudyCard2-bp481: 0.75/1.5;
	--rudyCard2-bp781: 0.75/4.166666666666666;
	--rudyCard3-bp481: 1.3333333333333333/1.3333333333333333;
	--rudyCard3-bp781: 1.3333333333333333/4.166666666666666;
	--rudyCard4-bp481: 1.3333333333333333/3.4166666666666665;
	--rudyCard4-bp781: 1.3333333333333333/4.166666666666666;
	--rudyCard5-bp481: 1.3333333333333333/3.4166666666666665;
	--rudyCard5-bp781: 1.3333333333333333/2.6459212376933894;
	--rudyCard6-bp481: 0.75/3.4166666666666665;
	--rudyCard6-bp781: 0.75/2.6459212376933894;
	--rudyCard7-bp481: 0.5625879043600562/1.3125879043600563;
	--rudyCard7-bp781: 0.5625879043600562/2.6459212376933894;
	--rudyCard8-bp481: 0.75/1.3125879043600563;
	--rudyCard8-bp781: 0.75/2.083333333333333;
	--rudyCard9-bp481: 1.3333333333333333/1.3333333333333333;
	--rudyCard9-bp781: 1.3333333333333333/2.083333333333333;
	--rudyCard10-bp481: 0.75/0.75;
	--rudyCard10-bp781: 0.75/0.75;
}

@media screen and (min-width: 481px) {
	.card:nth-of-type(1) { width: calc( (100% - 1 * var(--gutter) - 4 * var(--borderWidth)) * var(--rudyCard1-bp481) ); }
	.card:nth-of-type(2) { width: calc( (100% - 1 * var(--gutter) - 4 * var(--borderWidth)) * var(--rudyCard2-bp481) ); }
	.card:nth-of-type(3) { width: calc( (100% - 0 * var(--gutter) - 2 * var(--borderWidth)) * var(--rudyCard3-bp481) ); }
	.card:nth-of-type(4) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard4-bp481) ); }
	.card:nth-of-type(5) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard5-bp481) ); }
	.card:nth-of-type(6) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard6-bp481) ); }
	.card:nth-of-type(7) { width: calc( (100% - 1 * var(--gutter) - 4 * var(--borderWidth)) * var(--rudyCard7-bp481) ); }
	.card:nth-of-type(8) { width: calc( (100% - 1 * var(--gutter) - 4 * var(--borderWidth)) * var(--rudyCard8-bp481) ); }
	.card:nth-of-type(9) { width: calc( (100% - 0 * var(--gutter) - 2 * var(--borderWidth)) * var(--rudyCard9-bp481) ); }
	.card:nth-of-type(10) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard10-bp481) ); }
}
@media screen and (min-width: 781px) {
	.card:nth-of-type(1) { width: calc( (100% - 3 * var(--gutter) - 8 * var(--borderWidth)) * var(--rudyCard1-bp781) ); }
	.card:nth-of-type(2) { width: calc( (100% - 3 * var(--gutter) - 8 * var(--borderWidth)) * var(--rudyCard2-bp781) ); }
	.card:nth-of-type(3) { width: calc( (100% - 3 * var(--gutter) - 8 * var(--borderWidth)) * var(--rudyCard3-bp781) ); }
	.card:nth-of-type(4) { width: calc( (100% - 3 * var(--gutter) - 8 * var(--borderWidth)) * var(--rudyCard4-bp781) ); }
	.card:nth-of-type(5) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard5-bp781) ); }
	.card:nth-of-type(6) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard6-bp781) ); }
	.card:nth-of-type(7) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard7-bp781) ); }
	.card:nth-of-type(8) { width: calc( (100% - 1 * var(--gutter) - 4 * var(--borderWidth)) * var(--rudyCard8-bp781) ); }
	.card:nth-of-type(9) { width: calc( (100% - 1 * var(--gutter) - 4 * var(--borderWidth)) * var(--rudyCard9-bp781) ); }
	.card:nth-of-type(10) { width: calc( (100% - 2 * var(--gutter) - 6 * var(--borderWidth)) * var(--rudyCard10-bp781) ); }
}
