:root {
	--x2PerRow-rudy0: 0.75/1.5;
	--x2PerRow-rudy1: 0.75/1.5;
	--x2PerRow-rudy2: 1.3333333333333333/2.6666666666666665;
	--x2PerRow-rudy3: 1.3333333333333333/2.6666666666666665;
	--x2PerRow-rudy4: 1.3333333333333333/2.083333333333333;
	--x2PerRow-rudy5: 0.75/2.083333333333333;
	--x2PerRow-rudy6: 0.5625879043600562/1.3125879043600563;
	--x2PerRow-rudy7: 0.75/1.3125879043600563;
	--x2PerRow-rudy8: 1.3333333333333333/2.083333333333333;
	--x2PerRow-rudy9: 0.75/2.083333333333333;

	--x3PerRow-rudy0: 0.75/2.833333333333333;
	--x3PerRow-rudy1: 0.75/2.833333333333333;
	--x3PerRow-rudy2: 1.3333333333333333/2.833333333333333;
	--x3PerRow-rudy3: 1.3333333333333333/3.4166666666666665;
	--x3PerRow-rudy4: 1.3333333333333333/3.4166666666666665;
	--x3PerRow-rudy5: 0.75/3.4166666666666665;
	--x3PerRow-rudy6: 0.5625879043600562/2.64592123769339;
	--x3PerRow-rudy7: 0.75/2.64592123769339;
	--x3PerRow-rudy8: 1.3333333333333333/2.64592123769339;
	--x3PerRow-rudy9: 0.75/0.75;

	--x4PerRow-rudy0: 0.75/4.166666666666666;
	--x4PerRow-rudy1: 0.75/4.166666666666666;
	--x4PerRow-rudy2: 1.3333333333333333/4.166666666666666;
	--x4PerRow-rudy3: 1.3333333333333333/4.166666666666666;
	--x4PerRow-rudy4: 1.3333333333333333/3.3959212376933894;
	--x4PerRow-rudy5: 0.75/3.3959212376933894;
	--x4PerRow-rudy6: 0.5625879043600562/3.3959212376933894;
	--x4PerRow-rudy7: 0.75/3.3959212376933894;
	--x4PerRow-rudy8: 1.3333333333333333/2.083333333333333;
	--x4PerRow-rudy9: 0.75/2.083333333333333;

	--x5PerRow-rudy0: 0.75/5.499999999999999;
	--x5PerRow-rudy1: 0.75/5.499999999999999;
	--x5PerRow-rudy2: 1.3333333333333333/5.499999999999999;
	--x5PerRow-rudy3: 1.3333333333333333/5.499999999999999;
	--x5PerRow-rudy4: 1.3333333333333333/5.499999999999999;
	--x5PerRow-rudy5: 0.75/4.14592123769339;
	--x5PerRow-rudy6: 0.5625879043600562/4.14592123769339;
	--x5PerRow-rudy7: 0.75/4.14592123769339;
	--x5PerRow-rudy8: 1.3333333333333333/4.14592123769339;
	--x5PerRow-rudy9: 0.75/4.14592123769339;

	--x6PerRow-rudy0: 0.75/6.249999999999999;
	--x6PerRow-rudy1: 0.75/6.249999999999999;
	--x6PerRow-rudy2: 1.3333333333333333/6.249999999999999;
	--x6PerRow-rudy3: 1.3333333333333333/6.249999999999999;
	--x6PerRow-rudy4: 1.3333333333333333/6.249999999999999;
	--x6PerRow-rudy5: 0.75/6.249999999999999;
	--x6PerRow-rudy6: 0.5625879043600562/3.39592123769339;
	--x6PerRow-rudy7: 0.75/3.39592123769339;
	--x6PerRow-rudy8: 1.3333333333333333/3.39592123769339;
	--x6PerRow-rudy9: 0.75/3.39592123769339;

}