/* @import "reference-image-width-vars.css"; */
@import "generated-vars-and-media-queries.css";

/* Vars */
:root {
	--gutter: 16px;
	--borderWidth: 2px;
}


/* Resets */
* { box-sizing: border-box; }

body {
	margin: 0;
	min-height: 100vw;
}

/* Typography */
body {
	font-family: 'Roboto Mono', sans-serif;
	color: #222;
}

/* Everything else */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position:  relative;
}

header { padding-top: 20px;r }
h1 { text-align: center;
}

/* Cards */
.card {
	box-sizing: content-box;
	border: var(--borderWidth) solid #222;
	background: #222;
	margin-top: var(--gutter);
	display: flex;
	flex-direction: column;
	width: 100%;
}
.card:hover {
	cursor: pointer;
}
.card:focus img { transform: scale(0.95); }
.card:focus {
	cursor: pointer;
}
.card:hover img { transform: scale(0.95); }
.card h3 {
	text-align: center;
	margin: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	color: #fff;
}
.card img {
	display: block;
	width: 100%;
	transition: transform ease-out 0.1s;
}

